body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  background-color: #d3d3d3;
  color: #000;
}

header {
  background-color: #000;
  color: #d3d3d3;
  text-align: center;
  padding: 1.5em;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #d3d3d3;
  margin-bottom: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav a {
  color: #d3d3d3;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
}

main {
  padding: 2em;
}

section {
  max-width: 800px;
  margin: auto;
}
